<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">


        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link rel="icon" href ="/static/ld.ico" type="img/ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">


        <link href="/static/styles.css" rel="stylesheet">

        <link href="//db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=GraphiqueW01-Regular" rel="stylesheet" type="text/css"/>


        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Reel Cinemas: {% block title %}{%endblock%}</title>


        {%block style %}
        {% endblock %}
    </head>

    <body>
       {% block main %}
       {% endblock %}


       {% block script %}
       {% endblock %}
    </body>

</html>